.proyecto-agencia {
	border:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100vh;
}

.proyecto-apata {
	border:none;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100vh;
}