/**************************************

	ESTILOS DE LA PRESENTACIÓN

**************************************/

/************** SLIDE 4 **************/


/* 1. CONFIGURACIONES INCIALES */

.containerBubble5 h1 {
	font-size: 40px;
}

.containerBubble5 {
	position: relative;
	width: 30%;
	height: 100vh;
	/*border: solid white;*/
	top:350vh;
}

.subtitle5, .subtitle5a, .subtitle5b{
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: white;
	border-radius: 50%;	
}

.decoration9 {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: white;
	border-radius: 50%;	
}

.decoration10 {
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: white;
	border-radius: 50%;	
}

.decoration9 {
	top:300px;
	right:-800px;
	animation: floatLogo 3s ease-in-out infinite;
}

.decoration10 {
	top:-10px;
	right:-600px;
	animation: floatLogo 2s ease-in-out infinite;
}

.subtitle5 {
	top:10px;
	left:70px;
	animation: floatLogo 4s ease-in-out infinite;
}

.subtitle5a {
	top:80px;
	left:40px;
	animation: floatLogo 3s ease-in-out infinite;
	
}

.subtitle5b {
	top:40px;
	left:160px;
	animation: floatLogo 5s ease-in-out infinite;
}

.subtitulo5 {
	position: absolute;
	top:50px;
	left:130px;
}

.slide5 {
	border:solid 1px white;
	border-radius: 5px;
	position: absolute;
	width: 640px; /*1920x1080*/
	height: 100vh;
	top: -40px;
	right: -800px;
}

.content5 {
	opacity: 0;
} 


.recargar-proyecto3 {
	background-color: white;
	width: 30px;
	height: 30px;

	border-radius: 5px;
	position: absolute;
	top: 80vh;
	right: -510px;

}

.recargar-proyecto3 {
	background-color: white;
	
}

/* 2. CABLEANDO ANIMACIONES */

.containerBubble5:hover > .subtitle5 {
	animation: open5 1s forwards;
}
.containerBubble5:hover > .subtitle5a {
	animation: open5a 1s forwards;
}
.containerBubble5:hover > .subtitle5b {
	animation: open5b 1s forwards;
}

.containerBubble5 > .subtitle5 {
	animation: close5 1s forwards;
}
.containerBubble5 > .subtitle5a {
	animation: close5a 1s forwards;
}
.containerBubble5 > .subtitle5b {
	animation: close5b 1s forwards;
}



.slide5:hover > .content5 {
	animation: fadein 1s forwards;
}

.slide5 > .content5 {
	animation: fadeout 1s forwards;
}

/* 3. DEFINIENDO ANIMACIONES */


@keyframes open5 {
	0% {
		top:10px;
		left:70px;
	}
	100% {
		top:-100px;
		left:60px;
		background-color: maroon;
	}
}

@keyframes open5a {
	0% {
		top:80px;
		left:40px;
	}
	100% {
		top:170px;
		left:10px;
	}
}

@keyframes open5b {
	0% {
		top:40px;
		left:160px;
	}
	100% {
		top:-20px;
		left:350px;
	}
}


@keyframes close5 {
	0% {
		top:-100px;
		left:60px;
		background-color: maroon;
	}
	100% {
		top:10px;
		left:70px;
	}
}

@keyframes close5a {
	0% {
		top:170px;
		left:10px;
	}
	100% {
		top:80px;
		left:40px;
		
	}
}

@keyframes close5b {
	0% {
		top:-20px;
		left:350px;
	}
	100% {
		top:40px;
		left:160px;
		
	}
}







