/**************************************

	ESTILOS DE LA PRESENTACIÓN

**************************************/

/************** SLIDE 4 **************/


/* 1. CONFIGURACIONES INCIALES */

.containerBubble4 h1 {
	font-size: 40px;
}

.containerBubble4 {
	position: relative;
	width: 30%;
	height: 100vh;
	/*border: solid white;*/
	top:350vh;
}

.subtitle4, .subtitle4a, .subtitle4b{
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: white;
	border-radius: 50%;	
}

.decoration7 {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: white;
	border-radius: 50%;	
}

.decoration8 {
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: white;
	border-radius: 50%;	
}

.decoration7 {
	top:300px;
	right:-800px;
	animation: floatLogo 3s ease-in-out infinite;
}

.decoration8 {
	top:-10px;
	right:-600px;
	animation: floatLogo 2s ease-in-out infinite;
}

.subtitle4 {
	top:10px;
	left:70px;
	animation: floatLogo 4s ease-in-out infinite;
}

.subtitle4a {
	top:80px;
	left:40px;
	animation: floatLogo 3s ease-in-out infinite;
	
}

.subtitle4b {
	top:40px;
	left:160px;
	animation: floatLogo 5s ease-in-out infinite;
}

.subtitulo4 {
	position: absolute;
	top:50px;
	left:130px;
}

.slide4 {
	border:solid 1px white;
	border-radius: 5px;
	position: absolute;
	width: 640px; /*1920x1080*/
	height: 100vh;
	top: -40px;
	right: -800px;
}

.content4 {
	opacity: 0;
} 


.recargar-proyecto2 {
	background-color: white;
	width: 30px;
	height: 30px;

	border-radius: 5px;
	position: absolute;
	top: 80vh;
	right: -510px;

}

.recargar-proyecto2 {
	background-color: white;
	
}

/* 2. CABLEANDO ANIMACIONES */

.containerBubble4:hover > .subtitle4 {
	animation: open4 1s forwards;
}
.containerBubble4:hover > .subtitle4a {
	animation: open4a 1s forwards;
}
.containerBubble4:hover > .subtitle4b {
	animation: open4b 1s forwards;
}

.containerBubble4 > .subtitle4 {
	animation: close4 1s forwards;
}
.containerBubble4 > .subtitle4a {
	animation: close4a 1s forwards;
}
.containerBubble4 > .subtitle4b {
	animation: close4b 1s forwards;
}



.slide4:hover > .content4 {
	animation: fadein 1s forwards;
}

.slide4 > .content4 {
	animation: fadeout 1s forwards;
}

/* 3. DEFINIENDO ANIMACIONES */


@keyframes open4 {
	0% {
		top:10px;
		left:70px;
	}
	100% {
		top:-100px;
		left:60px;
		background-color: maroon;
	}
}

@keyframes open4a {
	0% {
		top:80px;
		left:40px;
	}
	100% {
		top:170px;
		left:10px;
	}
}

@keyframes open4b {
	0% {
		top:40px;
		left:160px;
	}
	100% {
		top:-20px;
		left:350px;
	}
}


@keyframes close4 {
	0% {
		top:-100px;
		left:60px;
		background-color: maroon;
	}
	100% {
		top:10px;
		left:70px;
	}
}

@keyframes close4a {
	0% {
		top:170px;
		left:10px;
	}
	100% {
		top:80px;
		left:40px;
		
	}
}

@keyframes close4b {
	0% {
		top:-20px;
		left:350px;
	}
	100% {
		top:40px;
		left:160px;
		
	}
}







